*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: url(images.jpg) #000;

  background-size: cover;
  color:#fff;
  font-size: 16px;
}

.wrap {
  width: 90%;
  max-width: 1000px;
  margin: auto; /*lo centrara*/
}

.widget{
  width: 40%;
  margin: 2em; /*o margin:32px; es lo mismo*/
}

.widget p{
  display: inline-block;
  line-height: 1em;
}

.fecha{
  font-family: 'Oswald', sans-serif ;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.3125rem;
  background: rgba(0, 0,0,.5);
  padding: 20px;
  width: 100%;
}

.reloj{
  font-family: 'Oswald', Arial ;
  width: 100%;
  padding: 20px;
  font-size: 4em;
  text-align: center;
  background: rgba(0, 0,0, .5);
}

.reloj .caja-segundos{
  display: inline-block;
}

.reloj .segundos,
.reloj .ampm{
  font-size: 2rem;
  display: block;
}